.gallery {
    width: 94vw;
    margin: 0 -3vw;
}

.gallery img {
    width: 100%;
    height: auto;
    margin: 0.5vw 2vw;
    cursor: zoom-in;
}

@media (min-width: 1201px) {
    .gallery {
        column-count: 5;
    }
}

@media (max-width: 1200px) {
    .gallery {
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    .gallery {
        column-count: 3;
    }
}

@media (max-width: 800px) {
    .gallery {
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .gallery {
        column-count: 1;
    }
}

.arrow {
    position: absolute;
    top: 40%;
    color: white;
    font-size: 10vh;
    z-index: 1;
    cursor: pointer;
    transition: transform .25s linear;
}

.left-arrow {
    left: 0;
}

.left-arrow:hover {
    transform: translateX(-1vw);
}

.right-arrow {
    right: 0;
}

.right-arrow:hover {
    transform: translateX(1vw);
}

.modal-close-button {
    position: absolute;
    top: 5vh;
    right: 6vh;
    font-size: 12vh;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    transition: transform .25s linear;
    transform: rotate(0);
}

.modal-close-button:hover {
    transform: rotate(90deg);
}