.gallery {
    width: 94vw;
    margin: 0 -3vw;
}

.gallery img {
    width: 100%;
    height: auto;
    margin: 0.5vw 2vw;
    cursor: zoom-in;
}

@media (min-width: 1201px) {
    .gallery {
        column-count: 5;
    }
}

@media (max-width: 1200px) {
    .gallery {
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    .gallery {
        column-count: 3;
    }
}

@media (max-width: 800px) {
    .gallery {
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .gallery {
        column-count: 1;
    }
}

.arrow-container {
    position: absolute;
    top: 40%;
    color: white;
    font-size: 10vh;
    z-index: 1;
    cursor: pointer;
}

.arrow {
    transition: transform .25s linear;
}

.left-arrow-container {
    left: 0;
}

.left-arrow:hover {
    transform: translateX(-1vw);
}

.right-arrow-container {
    right: 0;
}

.right-arrow:hover {
    transform: translateX(1vw);
}

.modal-close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5vh;
    right: 6vh;
    width: 8vh;
    height: 8vh;
    font-size: 12vh;
    transition: transform .25s linear;
    transform: rotate(0);
    border-radius: 50%;
}

.close-button-text {
    padding-top: 0.5vh;
    border-radius: 50%;
    font-weight: lighter;
    color: white;
    text-decoration: none;
    line-height: 0.5;
    pointer-events: none;
}

.modal-close-button:hover {
    transform: rotate(90deg);
}