[data-theme="dark"] {
    --text-color: lightgray;
    --background: black;
    --light-accent: lightgreen;
}

[data-theme="light"] {
    --text-color: black;
    --background: white;
    --light-accent: rgb(0, 60, 0);
}

:root {
    --accent: green;
    --text-font: "Bahnschrift", "Arial";
    --header-font: "Futura";
}

@media (max-width: 1050px) {
    #pfp {
        pointer-events: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    li a {
        color: var(--light-accent);
        background-color: var(--background);
    }

    .hr {
        width: 100%;
    }
}

.hr {
    background-color: var(--accent);
    height: 1px;
    width: 33.3vw;
}

.nav-item {
    display: inline-block;
    padding: 0 3vw;
    font-size: 1.25em;
}

.no-padding {
    padding: 0;
}

.nav-item a {
    color: var(--accent);
    text-decoration: none;
}

a:hover,
a.current {
    color: var(--light-accent);
}

.container {
    position: absolute;
    left: 5%;
}

a {
    color: var(--accent);
}

#pfp {
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-75%, -50%);
    z-index: -1;
}

body {
    color: var(--text-color);
    background-color: var(--background);
    font-family: var(--text-font);
    margin: 0px 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    padding-right: 15vh;
}

#toggle {
    background-color: var(--text-color);
    border: none;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    display: inline-block;
    cursor: pointer;
    /* transform: translateY(25%); */
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-title a {
    text-decoration: none;
}