/* .weird {
    --accent: #FF0000 !important;
    --text-color: #FF00FF !important;
    --background: #0000FF !important;
    --navbar-background: #00FF00 !important;
    --second-accent: #00FFFF !important;
    color-scheme: light !important;
    --discord-color: #FF8800 !important;
    --github-color: #8888FF !important;
    --youtube-color: #FF0088 !important;
} */

.light {
    /* --accent: #008000;
    --text-color: #36393f;
    --background: #eaefea;
    --navbar-background: #c1d0c1; */

    --text-color: #333333;
    --background: #ffffff;
    --navbar-background: #e5e5e5;
    --accent: #73afeb;

    --gray: #4a4a4a;

    color-scheme: light;
    --discord-color: #5865f2;
    --github-color: #24292f;
    --youtube-color: #ff0000;
    --linkedin-color: #007ebb;
}

.dark {
    --text-color: #ededee;
    --accent: #0863bf;
    --background: #30343F;
    --navbar-background: #1E2129;

    --gray: #b2b2b2;

    color-scheme: dark;
    --discord-color: #ffffff;
    --github-color: #ffffff;
    --youtube-color: #ffffff;
    --linkedin-color: #ffffff;
}

/*
- darken accent to work as background for white but not as foreground at all
- maybe highlight background for navbar hover rather than text highlight
- remove second accent and do something else for button highlight?
- change resume headers to look less like buttons
  - center header
  - remove background
  - make font slightly larger
*/

/*
DARK MODE:
  very light: text
  light: accent 2
  medium: accent
  dark: background
  very dark: navbar background
for light mode, invert the stack
*/

:root {
    --text-font: "Bahnschrift", "Arial", sans-serif;
    /* --header-font: "Futura"; */
    --switch-size: 4vh;
    --hamburger-size: 5vh;
}

html {
    overflow-y: auto !important;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    background-color: var(--background);
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: clip;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1051px) {

    /* generally large screens */
    #nav {
        display: block !important;
        height: auto !important;
    }

    #hamburger {
        display: none;
    }

    .nav-item {
        display: inline-block;
        padding: 4vh 1.5vw;
    }

    .about-container {
        width: 94vw;
    }

    .profile {
        float: right;
        margin-right: 5vw;
    }

    table {
        width: 45vw;
    }

    .switch-container {
        --vertical-padding: calc(4vh + 1.5rem - (var(--switch-size) * 0.56));
        padding: calc(var(--vertical-padding) - 0.25vh) 1.5vw calc(var(--vertical-padding) + 0.25vh);
        vertical-align: top;
    }

}

@media (max-width: 1050px) {

    /* generally small screens */
    #nav {
        position: absolute;
        background-color: var(--navbar-background);
        padding: 0 5vw;
        /* border-left: 0.5vh solid var(--accent); */
        z-index: -1;
    }

    #hamburger {
        display: block;
    }

    .nav-item {
        display: block;
        padding: 0 0 2vh 0;
    }

    .switch-li {
        display: table-footer-group !important;
    }

    #pfp {
        visibility: hidden;
    }

    .hr.third {
        width: 100%;
    }

    main p,
    main li {
        max-width: 90vw !important;
    }

    #burger-menu {
        padding-right: 3vw;
    }

    table {
        width: 94vw;
    }

    .profile-container {
        display: flex;
        justify-content: center;
    }

    .justify-apart :not(:first-child) {
        display: none;
    }

    .inline>.current::before {
        content: "‣ ";
    }
}

.skip {
    position: absolute;
    top: -5vh;
    left: 1vh;
    background-color: var(--accent) !important;
    z-index: 100;
    transition: top 0.3s ease;
    border-radius: 1vh;
    padding: 1vh;
}

.skip:focus-visible {
    top: 1vh;
}

#main-nav {
    display: table;
    padding-inline-start: 0;
    margin: 0;
    list-style-type: none;
}

#nav {
    right: -80vw;
    transition: right 0.75s ease-in-out;
}

.hr {
    background-color: var(--accent);
    height: 2px;
    width: 92vw;
    display: inline-block;
    margin-top: 4vh;
}

.profile {
    height: 50vh;
    cursor: zoom-in;
    border-radius: 1vw;
}

.hr.third {
    width: 33.3vw;
}

.nav-item {
    font-size: 1.5rem;
}

.nav-item:hover:not(.switch-container) {
    text-decoration: underline;
}

.current {
    text-decoration: underline var(--accent) !important;
}

a:hover:not(.nav-item) {
    text-decoration-color: var(--accent);
}

a {
    color: var(--text-color);
    background-color: var(--background);
}

#pfp {
    position: absolute;
    left: 85%;
    top: 40%;
    transform: translate(-85%, -40%);
    z-index: -5;
}

#picturesque {
    height: 75vh;
    width: 75vh;
}

.flex {
    display: flex;
}

.flex-item {
    padding-right: 8vw;
}

.switch {
    --switch-width: var(--switch-size);
    --switch-height: calc(var(--switch-width) / 2);
    --switch-border: calc(var(--switch-height) / 10);
    --switch-thumb-size: calc(var(--switch-height) - var(--switch-border) * 2);
    --switch-width-inside: calc(var(--switch-width) - var(--switch-border) * 2);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    border: var(--switch-border) solid var(--text-color);
    border-radius: var(--switch-height);
    background-color: var(--text-color);
    cursor: pointer;
    margin: var(--switch-margin) 0;
    position: relative;
}

.toggle {
    content: '';
    background-color: var(--accent);
    height: var(--switch-thumb-size);
    width: var(--switch-thumb-size);
    border-radius: var(--switch-thumb-size);
    transition: 300ms, width 600ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle svg {
    width: 80%;
    height: 80%;
    fill: var(--text-color);
}

.switch:active .toggle {
    width: 80%;
}

@keyframes jiggle {
    30% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.switch:hover,
.switch-container:focus-visible {
    animation: 0.3s jiggle;
}

.switch:hover .tooltip,
.switch-container:focus-visible .tooltip {
    opacity: 1;
}

.tooltip {
    opacity: 0;
    transition: opacity 0.3s 0.2s;
    position: absolute;
    z-index: 1;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vh;
    width: max-content;
    margin-top: 0.5vh;
    padding: 0.5vh;
    color: var(--text-color);
    background-color: var(--accent);
    border-radius: 1vh;
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 1vh;
    border-style: solid;
    border-color: transparent transparent var(--accent) transparent;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 0.5vh solid var(--accent); */
    background-color: var(--navbar-background);
    transform-style: preserve-3d;
    z-index: 100;
    /* background-image: url("pictureque.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.header a {
    background-color: transparent;
    text-decoration: none;
}

footer a {
    background-color: transparent;
}

#site-title {
    margin: 0;
    padding: 3.5vh 1.5vw;
}

#site-title a {
    font-size: 1.25rem;
}

#site-title:hover {
    color: var(--accent);
}

#hamburger {
    width: var(--hamburger-size);
    height: calc(var(--hamburger-size) * .75);
    position: relative;
    margin: calc(var(--hamburger-size) * .9) auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    background-color: var(--text-color);
    display: block;
    position: absolute;
    height: calc(var(--hamburger-size) * .15);
    width: 100%;
    border-radius: calc(var(--hamburger-size) * .15);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#hamburger:hover span {
    background-color: var(--accent);
}

#hamburger span:nth-child(1) {
    top: 0;
    transform-origin: left center;
}

#hamburger span:nth-child(2) {
    top: calc(var(--hamburger-size) * .3);
    transform-origin: left center;
}

#hamburger span:nth-child(3) {
    top: calc(var(--hamburger-size) * .6);
    transform-origin: left center;
}

#burger-menu.open #hamburger span:nth-child(1) {
    transform: rotate(45deg);
    top: calc(var(--hamburger-size) * -.05);
    left: calc(var(--hamburger-size) * .13);
}

#burger-menu.open #hamburger span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#burger-menu.open #hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: calc(var(--hamburger-size) * .65);
    left: calc(var(--hamburger-size) * .13);
}

#burger-menu.open #nav {
    right: 0;
}

main p,
main li {
    max-width: 45vw;
    background-color: var(--background);
    font-size: 1.1rem;
    z-index: 50;
    line-height: 1.75;
}

main h2,
footer h2 {
    font-size: 1.5rem;
    z-index: 60;
}

.h2-link {
    color: var(--text-color);
    text-decoration: none;
}

main {
    width: 100%;
    margin: 2vh 1.5vw 10vh 3vw;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    min-height: 20vh;
    height: fit-content;
    background-color: var(--navbar-background);
    width: 100%;
    display: flex;
}

.footer-child {
    flex: 1;
    text-align: center;
}

.footer-child.right {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

footer li {
    font-size: 1.1rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

.footer-contact-link:nth-child(2) {
    margin: 4vh 0 2vh;
}

.footer-contact-link a {
    padding: 1.5vh;
    border-radius: 1vh;
    background-color: var(--accent);
    color: var(--text-color);
    text-decoration: none;
}

.footer-contact-link:hover {
    animation: 0.3s jiggle;
}

.logos-wrapper {
    display: inline-block;
}

.footer-logos {
    display: flex;
    align-items: center;
}

.footer-logos li {
    width: 4vh;
    padding: 1vw;
}

.logo {
    transition: all 0.2s linear;
}

.logo:hover {
    transform: scale(1.2);
}

.discord.logo {
    fill: var(--discord-color);
}

.github.logo {
    fill: var(--github-color);
}

.youtube.logo {
    fill: var(--youtube-color);
}

.linkedin.logo {
    fill: var(--linkedin-color);
}

.spinner {
    transform: rotate(360deg);
    transition: transform 3s;
}

div.giant {
    font-size: 10em;
    display: flex;
}

.big-red-button {
    width: 22vh;
    height: 22vh;
    border: none;
    border-radius: 30%;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 0.5vh solid var(--accent);
    text-align: left;
    padding: 1vh;
}

th {
    color: var(--accent)
}

td {
    color: var(--text-color)
}

tr:nth-child(even) {
    background-color: var(--navbar-background);
}

#modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    user-select: none;
}

img#modal-content {
    cursor: zoom-out;
    border-radius: 1vh;
}

#back-to-top {
    position: fixed;
    right: 2vw;
    bottom: 3vh;
    border-radius: 50%;
    display: none;
    width: 10vh;
    height: 10vh;
    font-size: small;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    border: medium solid var(--background);
    cursor: pointer;
}

@keyframes emanating-ring {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

#back-to-top:hover::before {
    animation: emanating-ring 0.5s;
    opacity: 0;
    content: "";
    display: block;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;
    width: 9vh;
    height: 9vh;
    border: 1vh solid var(--accent);
}

.motto {
    font-size: 4vh;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.inline {
    display: inline;
}