.light {
    --accent: #008000;
    --text-color: #36393F;
    --background: #EAEFEA;
    --navbar-background: #CDD1CD;
    --second-accent: #005000;
    --third-accent: #90EE90;
    color-scheme: light;
}

.dark {
    --accent: #008000;
    --text-color: #EAEFEA;
    --background: #36393F;
    --navbar-background: #282A2F;
    --second-accent: #90EE90;
    --third-accent: #005000;
    color-scheme: dark;
}

:root {
    --text-font: "Bahnschrift", "Arial", sans-serif;
    /* --header-font: "Futura"; */
    --switch-size: 4vh;
    --hamburger-size: 5vh;
}

html {
    overflow-y: auto !important;
    height: 100vh;
}

body {
    color: var(--text-color);
    background-color: var(--background);
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1051px) {
    #nav {
        display: block !important;
    }

    #hamburger {
        display: none;
    }

    .nav-item {
        display: inline-block;
        padding: 4vh 1.5vw;
    }

    #profile {
        position: absolute;
        left: 60%;
        top: 18%;
        z-index: 10;
        width: auto;
        height: 75vh;
    }
}

@media (max-width: 1050px) {
    #nav {
        position: absolute;
        height: 100vh;
        background-color: var(--navbar-background);
        padding: 0 5vw;
        /* border-left: 0.5vh solid var(--accent); */
        z-index: -1;
    }

    #hamburger {
        display: block;
    }

    .nav-item {
        display: block;
        padding: 0;
    }

    .no-padding {
        display: table-footer-group;
    }

    #pfp {
        visibility: hidden;
    }

    .hr.third {
        width: 100%;
    }

    main p {
        max-width: 90vw !important;
    }

    #profile {
        height: 50vh;
        width: 39.8vh;
    }

    #burger-menu {
        padding-right: 3vw;
    }
}

#main-nav {
    display: table;
    padding-inline-start: 0;
    margin: 0;
}

#nav {
    overflow: hidden;
    right: -80vw;
    transition: right 0.75s ease-in-out;
}

.hr {
    background-color: var(--accent);
    height: 1px;
}

.hr.third {
    width: 33.3vw;
}

.nav-item {
    font-size: 1.5rem;
}

.no-padding {
    padding: 0;
}

a:hover,
a.current {
    color: var(--second-accent);
}

a {
    color: var(--accent);
    background-color: var(--background);
}

#pfp {
    position: absolute;
    left: 85%;
    top: 40%;
    transform: translate(-85%, -40%);
    z-index: -5;
}

.grid-container {
    display: flex;
}

.grid-item {
    padding-right: 8vw;
}

.switch-input {
    display: none;
}

.switch {
    --switch-width: var(--switch-size);
    --switch-height: calc(var(--switch-width) / 2);
    --switch-border: calc(var(--switch-height) / 10);
    --switch-thumb-size: calc(var(--switch-height) - var(--switch-border) * 2);
    --switch-width-inside: calc(var(--switch-width) - var(--switch-border) * 2);
    display: block;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    border: var(--switch-border) solid var(--text-color);
    border-radius: var(--switch-height);
    background-color: var(--text-color);
    cursor: pointer;
    margin: var(--switch-margin) 0;
    transition: 300ms 100ms;
    position: relative;
}

.switch::before {
    content: '';
    background-color: var(--third-accent);
    height: var(--switch-thumb-size);
    width: var(--switch-thumb-size);
    border-radius: var(--switch-thumb-size);
    position: absolute;
    top: 0;
    left: 0;
    transition: 300ms, width 600ms;
}

.switch-input:checked+.switch {
    background-color: var(--text-color);
    border-color: var(--text-color);
}

.switch:active::before {
    width: 80%;
}

.switch-input:checked+.switch::before {
    left: 100%;
    transform: translateX(-100%);
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 0.5vh solid var(--accent); */
    background-color: var(--navbar-background);
    transform-style: preserve-3d;
    z-index: 100;
}

.header a {
    background-color: transparent;
    text-decoration: none;
}

footer a {
    background-color: transparent;
}

#site-title {
    margin: 0;
    padding: 3.5vh 1.5vw;
}

#site-title a {
    font-size: 1.25rem;
}

#burger-menu {
    overflow: hidden;
}

#hamburger {
    width: var(--hamburger-size);
    height: calc(var(--hamburger-size) * .75);
    position: relative;
    margin: calc(var(--hamburger-size) * .83) auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    background-color: var(--accent);
    display: block;
    position: absolute;
    height: calc(var(--hamburger-size) * .15);
    width: 100%;
    border-radius: calc(var(--hamburger-size) * .15);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#hamburger:hover span {
    background-color: var(--second-accent);
}

#hamburger span:nth-child(1) {
    top: 0;
    transform-origin: left center;
}

#hamburger span:nth-child(2) {
    top: calc(var(--hamburger-size) * .3);
    transform-origin: left center;
}

#hamburger span:nth-child(3) {
    top: calc(var(--hamburger-size) * .6);
    transform-origin: left center;
}

#burger-menu.open #hamburger span:nth-child(1) {
    transform: rotate(45deg);
    top: calc(var(--hamburger-size) * -.05);
    left: calc(var(--hamburger-size) * .13);
}

#burger-menu.open #hamburger span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#burger-menu.open #hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    top: calc(var(--hamburger-size) * .65);
    left: calc(var(--hamburger-size) * .13);
}

#burger-menu.open #nav {
    right: 0px;
}

main p,
main li {
    max-width: 45vw;
    background-color: var(--background);
    font-size: 1.1rem;
    z-index: 50;
}

main h2, footer h2 {
    font-size: 1.5rem;
    z-index: 60;
}

.h2-link {
    color: var(--text-color);
    text-decoration: none;
}

main {
    width: 100%;
    margin: 2vh 1.5vw 10vh 3vw;
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    height: 20vh;
    background-color: var(--navbar-background);
    text-align: center;
    padding-left: 1.5vw;
    width: 100%;
}

footer li {
    font-size: 1.1rem;
}

#contact-form {
    border: 0.5vh solid var(--accent);
    width: min-content;
    padding: 0.5vw;
}

#contact-form p {
    background-color: transparent;
}

#contact-form input, #contact-form textarea {
    border: 0.25vh solid var(--accent);
    font-family: var(--text-font);
}

#contact-message {
    width: 45vh;
    max-width: 85%;
    height: 30vh;
}

#contact-submit {
    font-family: var(--text-font);
    background-color: var(--accent);
    color: var(--text-color);
    padding: 0.5vh 0.75vw;
    border: none;
    border-radius: 0.75vh;
    cursor: pointer;
}

span.asterisk {
    color: red;
}

.spinner {
    transform: rotate(360deg);
    transition: transform 3s;
}