:root {
    --text-color: #333333;
    --background: #ffffff;
    --navbar-background: #e5e5e5;
    --accent: #4caf50;
    --second-accent: #005000;
    --gray: #666666;
    --text-font: serif;
}

.profile-container {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: 0 35%;
    background-repeat: no-repeat;
    background-image: url("images/gabriel.jpg");
    float: none;
    margin: 0;
}

.profile {
    float: none;
    margin: 0;
}

.about-me p,
.hr,
.justify-apart,
.resume-nav,
.resume-container img,
.see-more-wrapper,
iframe,
.profile,
#back-to-top {
    display: none !important;
}

.resume-header,
.resume-skills {
    width: 640px;
}

.resume-card {
    background-color: var(--background);
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.resume-card li,
.resume-card ul,
.resume-card div,
.resume-card p {
    background-color: var(--background);
    margin-left: 0 !important;
}

.resume-card:nth-child(even) {
    flex-direction: row;
}

.pdf-sidebar {
    display: block;
    width: 25vw;
    height: 100vh;
    margin: -2vh -3vw;
}

.about-container {
    flex-direction: row;
}

.resume-container {
    max-width: min-content;
    flex-direction: row;
}